*{
    margin: 0;
    box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #b7e8eb 100%);
  overflow: hidden;
}

.sun{
  height: 200px;
}

.tarass{
  position: absolute;
  top: 62px;
  left: 60px;

  height: 76px;

  border-radius: 50%;

  animation: rotateImage 10s infinite linear;
}

@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://cdn.kcak11.com/codepen_assets/wave_animation/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%,
	100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
.endWave{
	display:none;
}

.animated-image {
    position: absolute;
    top: 77%;
    left: 0;
    transform: translateY(-50%);
    animation: slide-animation 20s linear infinite;
}

@keyframes slide-animation {
    0% {
        left: 0;
    }
    50% {
        left: calc(100% - 500px); 
    }
    100% {
        left: 0;
    }
}

h1{
  text-align: center;
  margin-top: 100px;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: #015871;
}

p{
  text-align: center;
  margin-top: 50px;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  color: #015871;
}

